<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- Bootstrap from its CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <label for="email">Email</label>
    <input type="email" id="email" autofocus required placeholder="email" value="{{email::input}}"></input>
    <label for="password">Contraseña</label>
    <input type="password" id="password" required placeholder="contraseña" value="{{password::input}}"></input>
    <button on-click="login">Login</button>
    <span hidden$="{{logged}}">Bienvenido de nuevo</span>

    <iron-ajax id="doLogin" method="POST" content-type="application/json" url="http://localhost:3000/apitechu/v2/login" handle-as="json" on-response="manageAJXResponse" on-error="showError">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          password: {
            type: String
          },
          email: {
            type: String
          },
          logged: {
            type: Boolean,
            value:true
          },
          id: {
            type: Number
          }
        };
      }
      manageAJXResponse(data) {
        console.log("manageAJXResponse");
        console.log(data.detail.response.idUsuario);

        this.logged = false;
        window.location = "user/" + data.detail.response.idUsuario;

      }
      login() {
        console.log("Boton de login pulsado");

        var loginData = {
          "email" : this.email,
          "password" : this.password
        };
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Peticion enviada");
      }
      showError(error) {
        console.log("Error: " + error);
      }
    }


    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
