<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="receptor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- Bootstrap from its CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <h3>Yo soy el receptor</h3>
    <h5>Este curso es [[course]]</h5>
    <h5>Y estamos en el año [[year]]</h5>
    <input type="text" value="{{course::input}}"></input>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ReceptorEvento extends Polymer.Element {
      static get is() { return 'receptor-evento'; }
      static get properties() {
        return {
          course : {
            type : String,
            observer: '_courseChanged'
          },
          year : {
            type : Number
          }
        };
      }
      _courseChanged(newValue, oldValue){
        console.log("course changed");
        console.log("old value: " + oldValue);
        console.log("new value: " + newValue);
      }
    }

    window.customElements.define(ReceptorEvento.is, ReceptorEvento);
  </script>
</dom-module>
