<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <!-- Bootstrap from its CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <h1>Sus cuentas</h1>
    <table class="table table-striped table-hover table-condensed">
      <tr>
      <th>IBAN</th>
      <th>Saldo</th>
      </tr>
    <template is="dom-repeat" items="{{accounts}}">
      <tr>
      <td>{{item.IBAN}}</td>
      <td>{{item.balance}}</td>
      </tr>
    </template>
    </table>
    <iron-ajax auto="true" id="getUserAccount" url="http://localhost:3000/apitechu/v2/users/{{userid}}/accounts" handle-as="json" on-response="showData" >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          iban: {
            type: String
          },
          userid: {
            type: Number
          },
          balance: {
            type: Number
          },
          accounts: {
            type: Array
          }
        };
      }
      showData(data) {
        console.log("showData");
        console.log(data.detail.response);
        this.accounts = data.detail.response;
        // this.iban = data.detail.response[0].IBAN;
        // this.userid = data.detail.response[0].userId;
        // this.balance = data.detail.response[0].balance;
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
